<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Thay 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/05e755f8-1ffb-4fa3-93e6-cc6755059119/dahp5im-fc7fae6d-f2c7-4a11-acc4-493033eadb19.jpg/v1/fill/w_1920,h_1080,q_75,strp/eeveelution_wallpaper_1920_x_1080_by_mexicoknight_dahp5im-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcLzA1ZTc1NWY4LTFmZmItNGZhMy05M2U2LWNjNjc1NTA1OTExOVwvZGFocDVpbS1mYzdmYWU2ZC1mMmM3LTRhMTEtYWNjNC00OTMwMzNlYWRiMTkuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.HxDRmPEr5SjNLS5Mgx9mND7GUV3SZVRKZP0MtN_EFzE" />
    <ion-card-header>
      <ion-card-title>Eeveelutions</ion-card-title>
      <ion-card-subtitle>O que é?</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      An Eeveelution (japonês: ブイズ, Hepburn: Buizu) é um termo popular entre os fãs que é usado para o atual grupo de oito Pokémon que evoluem do Eevee. Eeveelution é uma junção das palavras "Eevee" e "evolução". O termo Eeveelution foi inventado por fãs para especificar os oito Pokémon para os quais o Eevee pode evoluir. Os Eeveelutions são muito apreciados entre os colecionadores quando se trata de um conjunto completo de todas as oito evoluções, nove incluindo Eevee.
    </ion-card-content>
  </ion-card> 

  <ion-card>
    <img src="https://wallpapercave.com/wp/wp2691858.png"/>
    <ion-card-header>
      <ion-card-title>Eevee</ion-card-title>
      <ion-card-subtitle>Normal</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Eevee (japonês: イーブイ, Hepburn: Iibui) (EE-vee[1]) é um Pokémon do tipo Normal introduzido na Geração I. É bem conhecido por ser o Pokémon com o maior número de possibilidades de evolução (8), devido à sua composição genética instável. É o mascote da versão e primeiro Pokémon parceiro do jogo Pokémon: Let's Go, Eevee!. Ele também tem uma forma Gigantamax.
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <img src="https://wallpapercave.com/wp/wp5313831.jpg"/>
    <ion-card-header>
      <ion-card-title>Vaporeon</ion-card-title>
      <ion-card-subtitle>Água</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Vaporeon é o Pokémon do tipo Água e uma das formas finais de evolução do Eevee e só pode ser obtido através do uso de uma Pedra da Água. É conhecido como o Pokémon Bubble Jet. Quando o jogador evolui seu Eevee para um Vaporeon, o jogador pode ensinar a Vaporeon o HM Surf. Vaporeon é forte contra Flareon, já que os ataques de Pokémon do tipo Água são super eficazes contra Pokémon do tipo Fogo. No entanto, Vaporeon é fraco contra Jolteon e Leafeon, já que Pokémon do tipo Água são fracos para os tipos Grama e Elétrico.
      Sabe-se que a estatística mais alta de Vaporeon é seu HP.
    </ion-card-content>
  </ion-card> 
  <ion-card>
    <img src="https://th.bing.com/th/id/OIP.7MaXBaysIVSqRMlSQKKxKwHaEo?rs=1&pid=ImgDetMain"/>
    <ion-card-header>
      <ion-card-title>Jolteon</ion-card-title>
      <ion-card-subtitle>Elétrico</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Jolteon é o Pokémon Lightning do tipo Elétrico e uma das formas finais de evolução do Eevee e só pode ser obtido através do uso de uma Thunder Stone. Jolteon é forte contra Vaporeon, devido ao fato de que as habilidades de Pokémon do tipo Elétrico são super eficazes contra Pokémon do tipo Água.
      Sabe-se que a estatística mais alta de Jolteon é Velocidade.
    </ion-card-content>
  </ion-card> 

  <ion-card>
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4d1f087a-24b4-47a0-906b-7f66a07311f9/d63sqh4-d3cd3895-e420-4d5f-8485-1b42da188dc3.png/v1/fill/w_1131,h_707,q_75,strp/flareon___fire_spin_by_ishmam-d63sqh4.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi80ZDFmMDg3YS0yNGI0LTQ3YTAtOTA2Yi03ZjY2YTA3MzExZjkvZDYzc3FoNC1kM2NkMzg5NS1lNDIwLTRkNWYtODQ4NS0xYjQyZGExODhkYzMucG5nIiwid2lkdGgiOiI8PTExMzEiLCJoZWlnaHQiOiI8PTcwNyJ9XV19.9fAICMlg-kpQw_AzdqQBWsHAzUFVSPO3PnsVG31r9fE"/>
    <ion-card-header>
      <ion-card-title>Flareon</ion-card-title>
      <ion-card-subtitle>Fogo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Flareon é o Pokémon Flame do tipo Fogo e uma das formas finais de evolução do Eevee e só pode ser obtido através do uso de uma Pedra de Fogo. Flareon é fraco contra Vaporeon, já que Pokémon do tipo Fogo são fracos para habilidades do tipo Água; no entanto, como Fire-types são fortes contra Grass e Ice-types, Flareon é super eficaz contra Leafeon e Glaceon.
      Sabe-se que a estatística mais alta de Flareon é Ataque.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://th.bing.com/th/id/OIP.5DjSR_V0Qa66YrWYRREbIQHaEK?rs=1&pid=ImgDetMain"/>
    <ion-card-header>
      <ion-card-title>Espeon</ion-card-title>
      <ion-card-subtitle>Psíquico</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Espeon é a evolução Psíquico-Morning Sun de Eevee, é do tipo Psíquico, junto com Umbreon aproveita os recursos Dia/Noite e amizade, Eevee só evoluirá para Espeon com alta amizade durante o dia. Espeon é fraco contra Umbreon, já que as habilidades do tipo Dark são super eficazes contra Pokémon Psíquicos.
      Sabe-se que a estatística mais alta de Espeon é o Ataque Especial
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://th.bing.com/th/id/OIP.yO1JoFJmVTsaKRD_DRSY_QHaEK?rs=1&pid=ImgDetMain"/>
    <ion-card-header>
      <ion-card-title>Umbreon</ion-card-title>
      <ion-card-subtitle>Sombrio</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Umbreon é o Eeveelution do tipo Sombrio. É conhecido como o Pokémon do Luar. Umbreon aproveita os recursos de amizade e dia/noite, já que Eevee só evoluirá para Umbreon subindo de nível com alta amizade à noite ou usando uma Pedra da Lua. Umbreon é forte contra Espeon porque os ataques do tipo Dark são super eficazes contra Pokémon Psíquicos; no entanto, é fraco contra Sylveon devido à fraqueza dos tipos Dark aos tipos Fada. Umbreon está tão em contato com a lua que os anéis de Umbreon brilham à noite.
      A estatística mais alta de Umbreon é Defesa Especial.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://wallpapercave.com/wp/wp2306413.jpg"/>
    <ion-card-header>
      <ion-card-title>Leafeon</ion-card-title>
      <ion-card-subtitle>Planta</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Leafeon é o Eeveelution Verdejante do tipo Planta. Um Eevee só evoluirá para Leafeon se o personagem do jogador tocar uma rocha coberta de musgo e, em seguida, aumentar o nível do Eevee em uma das seções de grama diretamente próximas a ele até a Geração VIII. Na Geração VIII, Eevee evolui para Leafeon com uma Leaf Stone. Leafeon é forte contra Vaporeon, devido aos tipos Planta serem fortes contra os tipos Água, mas é fraco contra Flareon e Glaceon devido ao fato de Grama ser fraco contra Pokémon do tipo Fogo e Gelo.
      Sua estatística mais alta é Defesa.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://th.bing.com/th/id/R.bcc05ce415c1ec1a8594d6e595e6d890?rik=c4arEXEODc98kQ&pid=ImgRaw&r=0"/>
    <ion-card-header>
      <ion-card-title>Glaceon</ion-card-title>
      <ion-card-subtitle>Gelo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Glaceon é o Ice-type Fresh Snow Eeveelution. Este Pokémon é do tipo Gelo e um Eevee evoluirá para Glaceon se o personagem do jogador tocar uma rocha gelada, então nivelará o Eevee ao lado da rocha gelada até a Geração VIII. Na Geração VIII, Eevee evolui para Glaceon com uma Pedra de Gelo. Glaceon é forte contra Leafeon devido a seres do tipo Planta fracos para Ice-types, mas é fraco contra Flareon devido à fraqueza do Ice-types para Fire-types.
      Sua estatística mais alta é o Ataque Especial, semelhante ao Espeon.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://th.bing.com/th/id/R.45f82809c1016ffde814bed63d4f6b0a?rik=t%2fPYgS%2bhMqozbA&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fa%2f8%2f8%2f698528-large-sylveon-wallpapers-2880x1800-image.jpg&ehk=pP%2fuyBS%2feR1a0QbMYtbKRmqvbE8g4HIPOStk8typjxs%3d&risl=&pid=ImgRaw&r=0"/>
    <ion-card-header>
      <ion-card-title>Sylveon</ion-card-title>
      <ion-card-subtitle>Fada</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Sylveon é uma Eeveelution Entrelaçada do tipo Fada nova na Geração VI. A maneira de obter essa nova adição à família Eevee é usar o aplicativo de ligação em Pokémon X e Y chamado Pokémon-Amie e Pokémon Sun e Moon chamado Pokémon Refresh. Depois de obter pelo menos dois níveis de afeto, você aumenta o nível do seu Eevee enquanto conhece um movimento do tipo Fada, e ele evoluirá logo depois. Sylveon é forte contra Umbreon devido aos Pokémon do tipo Sombrio serem fracos para os tipos Fada.
      As estatísticas mais altas de Sylveon são Defesa Especial, semelhante a Umbreon.
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
